*, *::before, *::after {
    box-sizing: border-box;
}

html {
   height: 100%; 
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0; 
    height: 100%;
}

img {
    display: block;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    /* ХЕДЕР */

.header {
border-bottom: 1px solid #000000;
height: 72px;
align-items: center;
display: flex;
}

.header-container {
width: 1110px;
margin: 0 auto;
display: flex;
align-items: center;
}

.logo {
margin-right: 40px;
}

.nav {
   font-weight: bold;
   font-size: 14px;
   line-height: 1;
   color: #18191f;
}

.nav-link {
    color: #18191f;
    text-decoration: none;
    margin-right: 32px;
}

.nav-link:hover {
    color: #8c30f5;
}

.nav-link:last-child {
    margin-right: 0;
}

.appstore {
margin-left: auto;
display: flex;
}

.appstore-item {
    margin-left: 12px;
}

.appstore-item:first-child {
    margin: 0px;
}

/* Мэйн Контент */

.main {

}

.main-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 197px;
    padding-bottom: 197px;
    
}

.main-content {
    font-size: 18px;
    color: #18191F;
    width: 540px;
}

.main-img {
    
}

.main-header {
    margin-top: 0; 
    margin-bottom: 16px;
    font-weight: 800; 
    font-size: 72px;
    line-height: 1.36;
    color: #18191F;
}

.main-text {
    margin-bottom: 32px;
}

.main-text p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.78;
}

.button {
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    height: 62px;
    background: #8C30F5;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 62px;
    color: #FFFFFF;
}

.button:hover {
    opacity: 0.8;
}

/* Footer */

.footer {
    background: #0b0d17;
    color: #d9dbe1;
    height: 72px;
    display: flex;
    align-items: center;
}

.footer-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    font-size: 14px;
}

.footer-socials {
    display: flex;
    
}

.footer-socials-item {
    margin-left: 16px;
}